{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <div class="content-section align-middle">
        <div class="form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
        </div>
{% endblock %}