{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Paintings</h1>
<div class="row">
{% for painting in paintings %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{painting.image.url}}">
            <div class="card-body">
                <h5 class="card-title">{{ painting.title }}</h5>
                <p class="card-text">{{ painting.medium }}</p>
                <a href="{% url 'painting_detail' painting.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}