<!--crate a unique link for every building-->
{% for building in buildings %}
<a href="#"
   class="builder-link"
   data-toggle="modal"
   data-target="#building-modal"
   data-img="{{ building.img.url }}"
   data-description="{{ building.short_description }}"
   data-name="[{ building.name }}">
    {{ building.name }}
</a>
{% endfor %}

<!--this is our blank modal for ids for the values to be injected-->
<div class="modal fade mymodal in " id="building-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="building-name"></h4>
            </div>
            <div class="modal-body">
                <p id="building-description"></p>
                <img id="building-image"src=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!--when link is clicked, grab all the data values and pop them into the modal-->
<script>
$('.building-link').click(function() {
    $('#building-name').html($(this).data('name'));
    $('#building-description').html($(this).data('description'));
    $('#building-img').html($(this).data('img'));
});
</script>