{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}

<style>
    body{
    margin: 0;
    padding: 0;
    background: #ecf0f3;
    padding: 3% 0;
}

.card img{
    width: 100%;
    transition: 0.3s;
    border-radius: 8px;
}

.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 12px;
    padding: 3%;
    margin-bottom: 6%;
    background: #fff;
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
}

.card:hover img{
    transform: scale(90%);
}

@media screen and (max-width: 958px){
    .card-columns{
        column-count: 2;
    }
}

@media screen and (max-width: 420px){
    .card-columns{
        column-count: 1;
    }
}



</style>
<body>
<div class="container">

    <div class="row">

        <div class="col-12">
            <div class="card-columns">

                <div class="card-container">

                    {% for painting in page_obj %}
                    <div class="card">
                        <img src="{{ painting.image.url }}" alt="">
                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</div>
</body>
{% endblock %}