{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">

    <!-- Portfolio Grid Items-->

    <div class="row justify-content-center">
        <!-- Portfolio Item 1-->
        {% for painter in painters %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="rectangle rounded ds-bg-success">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1{{painter.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i
                                class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img src="{{painter.image.url}}" class="img-fluid rounded-circle mx-auto d-block"/>
                    <div class="overlay text-center">{{painter.first_name}} {{painter.last_name}}</div>

                </div>
            </div>
        </div>

        <!-- Portfolio Modal 1-->

        <div class="portfolio-modal modal fade" id="portfolioModal1{{painter.id}}" tabindex="-1" role="dialog"
             aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col-lg-10">
                                    <!-- Portfolio Modal - Title-->
                                    <h5 class="portfolio-modal-title text-secondary text-lowercase mb-0"
                                        id="portfolioModal1Label">{{ painting.title }}</h5>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-paint-brush"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{{ painter.image.url }}" alt="..."/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5"><strong>Description:</strong> {{ painting.description }}
                                        <br>
                                        <strong>Technique:</strong> {{ painter.first_name }} sur {{ painter.last_name }}
                                        <br>
                                        <strong>Location:</strong> {{ painter.biography }}
                                    </p>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>


{% endblock %}








