{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
!-- Portfolio Section-->

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!--<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Collection</h2>
        &lt;!&ndash; Icon Divider&ndash;&gt;
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-paint-brush"></i></div>
            <div class="divider-custom-line"></div>
        </div>-->
        <!-- Portfolio Grid Items-->

        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            {% for painter in painters %}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="rectangle rounded align-items-center bg-success">
                    <div class="portfolio-item mx-auto text-center" data-toggle="modal"
                         data-target="#portfolioModal1{{painter.id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 bg-gradient-dark text-white">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-expand fa-2x"></i></div>
                        </div>
                        <img class="img-fluid rounded-circle align-middle" src="{{painter.image.url}}"/>
                    <div class="overlay text-center">{{painter.first_name}} {{painter.last_name}}</div>

                    </div>

                </div>
            </div>

            <!-- Portfolio Modal 1-->

            <div class="portfolio-modal modal fade" id="portfolioModal2{{painter.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="portfolioModal1Label2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col-lg-10">
                                        <!-- Portfolio Modal - Title-->
                                        <h5 class="portfolio-modal-title text-secondary text-lowercase mb-0"
                                            id="portfolioModal1Label2">{{ painter.first_name }}</h5>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-paint-brush"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="{{ painter.image.url }}" alt="..."/>
                                        <!-- Portfolio Modal - Text-->
                                        <p class="mb-5"><strong>Description:</strong> {{ painter.biography }}
                                            <br>
<!--                                            <strong>Technique:</strong> {{ painter.biographymedium }} sur {{-->
<!--                                            painting.support }}-->
<!--                                            <br>-->
<!--                                            <strong>Location:</strong> {{ painting.location }}-->
                                        </p>
                                        <button class="btn btn-primary" data-dismiss="modal">
                                            <i class="fas fa-times fa-fw"></i>
                                            Close Window
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}








