{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Painters</h1>
<div class="row">
{% for painter in painters %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{painter.image.url}}">
            <div class="card-body">
                <h5 class="card-title">{{ painter.first_name }}</h5>
                <p class="card-text">({{painter.date_of_birth}} - {% if painter.date_of_death %}{{painter.date_of_death}}{% endif %})</p>
                <a href="{% url 'painter_detail' painter.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}